fastapi 
pydantic 
pydantic-settings 
python-dotenv
langchain 
langgraph 
langchain-aws
httpx
boto3 
mcp 
tenacity
langchain-community
langchain-core 
langchain-groq 
langchain-huggingface 
langchain-text-splitters
pymupdf
uvicorn 
pydantic_core 
python-multipart
langchain_tavily
bedrock-agentcore
langchain-mcp-adapters 
mcp-use
mcp[cli]

langgraph-checkpoint-aws